 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 936px;
}

.u-section-1 .u-shape-1 {
  width: 801px;
  height: 552px;
  margin: 60px auto 0 118px;
}

.u-section-1 .u-group-1 {
  min-height: 403px;
  width: 625px;
  margin: -179px 0 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 50px 35px;
}

.u-section-1 .u-text-1 {
  font-family: Barriecito;
  font-size: 4.5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: none;
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  font-style: italic;
  margin: 22px 0 0;
}

.u-section-1 .u-btn-1 {
  font-family: Barriecito;
  transition-duration: 0.5s;
  letter-spacing: 1px;
  align-self: flex-end;
  border-style: none;
  text-transform: uppercase;
  font-size: 1.375rem;
  font-weight: 700;
  margin: 20px 0 0;
  padding: 17px 48px 19px;
}

.u-section-1 .u-image-1 {
  width: 428px;
  height: 428px;
  background-image: url("images/amicilogoinvert.png");
  background-position: 50% 50%;
  margin: -756px auto 328px 118px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-1 {
    width: 704px;
    height: 497px;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-shape-1 {
    width: 630px;
    height: 418px;
    margin-left: 8px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-shape-1 {
    width: 494px;
    height: 314px;
    margin-left: 0;
  }

  .u-section-1 .u-group-1 {
    width: 433px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 112px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 848px;
  }

  .u-section-1 .u-shape-1 {
    height: 227px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 30px;
    font-size: 1.875rem;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-left: 0;
  }
}

.u-section-1 .u-btn-1 {
  transition-property: fill, color, background-image, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform !important;
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 703px;
}

.u-section-2 .u-group-1 {
  width: 754px;
  min-height: 384px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-family: Barriecito;
  font-weight: normal;
  margin: 16px 0 0;
}

.u-section-2 .u-text-2 {
  line-height: 2;
  font-family: Beatricefont;
  font-size: 1.25rem;
  font-weight: 600;
  margin: 28px 0 0;
}

.u-section-2 .u-btn-1 {
  font-family: Barriecito;
  transition-duration: 0.5s;
  letter-spacing: 1px;
  align-self: flex-end;
  border-style: none;
  text-transform: uppercase;
  font-size: 1.375rem;
  background-image: none;
  font-weight: 700;
  margin: 30px auto 0 16px;
  padding: 17px 48px 19px;
}

.u-section-2 .u-text-3 {
  font-family: Beatricefont;
  margin: 30px 0 0;
}

.u-section-2 .u-list-1 {
  margin-top: -10px;
  margin-bottom: 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: 25% 25% 25% 25%;
  min-height: 181px;
  grid-gap: 0px 0px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 21px;
}

.u-section-2 .u-text-4 {
  font-style: italic;
  font-size: 1.25rem;
  font-weight: 300;
  font-family: Beatricefont;
  line-height: 1.2;
  margin: 0 0 0 9px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 21px;
}

.u-section-2 .u-text-5 {
  font-style: italic;
  font-size: 1.25rem;
  font-weight: 300;
  font-family: Beatricefont;
  line-height: 1.2;
  margin: 0 0 0 9px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 21px;
}

.u-section-2 .u-text-6 {
  font-style: italic;
  font-size: 1.25rem;
  font-weight: 300;
  font-family: Beatricefont;
  line-height: 1.2;
  margin: 0 0 0 9px;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px 21px;
}

.u-section-2 .u-text-7 {
  font-style: italic;
  font-size: 1.25rem;
  font-weight: 300;
  font-family: Beatricefont;
  line-height: 1.2;
  margin: 0 0 0 9px;
}

.u-section-2 .u-image-1 {
  width: 125px;
  height: 109px;
  margin: -20px auto 0 365px;
}

.u-section-2 .u-image-2 {
  width: 141px;
  height: 108px;
  margin: -109px auto 0 82px;
}

.u-section-2 .u-image-3 {
  width: 75px;
  height: 109px;
  margin: -108px 390px 0 auto;
}

.u-section-2 .u-image-4 {
  width: 109px;
  height: 108px;
  margin: -109px 82px 0 auto;
}

.u-section-2 .u-image-5 {
  width: 360px;
  height: 360px;
  filter: brightness(0.85);
  margin: -629px 0 -5px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(4, 25%);
    min-height: 149px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
  }

  .u-section-2 .u-image-1 {
    margin-top: -145px;
  }

  .u-section-2 .u-image-2 {
    height: 109px;
  }

  .u-section-2 .u-image-3 {
    margin-top: -109px;
  }

  .u-section-2 .u-image-4 {
    height: 109px;
  }

  .u-section-2 .u-image-5 {
    margin-top: -505px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    width: 720px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 438px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 768px;
  }

  .u-section-2 .u-group-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 20px;
    padding-left: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-right: 20px;
    padding-left: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-right: 20px;
    padding-left: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-right: 20px;
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 748px;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 596px;
    margin-left: 215px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -586px;
  }

  .u-section-2 .u-image-3 {
    margin-top: 330px;
    margin-right: 265px;
  }

  .u-section-2 .u-image-4 {
    margin-top: -57px;
  }

  .u-section-2 .u-image-5 {
    width: 340px;
    height: 340px;
    margin-top: -1260px;
    margin-bottom: 0;
  }
}

.u-section-2 .u-btn-1 {
  transition-property: fill, color, background-image, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform !important;
} .u-section-3 {
  background-image: none;
  min-height: 816px;
}

.u-section-3 .u-text-1 {
  font-family: Barriecito;
  font-size: 3.75rem;
  font-weight: 700;
  margin: 30px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.875rem;
  font-family: Beatricefont;
  line-height: 1.2;
  font-weight: 900;
  width: 879px;
  margin: 12px auto 0;
}

.u-section-3 .u-list-1 {
  grid-template-rows: auto;
  width: 351px;
  margin: 48px auto 0;
}

.u-section-3 .u-repeater-1 {
  grid-gap: 0px 0px;
}

.u-section-3 .u-shape-1 {
  height: 219px;
  margin-top: -49px;
  margin-bottom: 0;
}

.u-section-3 .u-custom-html-1 {
  width: 915px;
  min-height: 325px;
  margin: -264px auto -279px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-2 {
    width: 749px;
    margin-left: calc(((100% - 940px) / 2) + 196px);
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(undefined, NaN%);
  }

  .u-section-3 .u-custom-html-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-2 {
    width: auto;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-custom-html-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-custom-html-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    width: auto;
    font-size: 2.25rem;
  }

  .u-section-3 .u-text-2 {
    width: 324px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-list-1 {
    width: 340px;
  }

  .u-section-3 .u-custom-html-1 {
    width: 340px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 559px;
}

.u-section-4 .u-text-1 {
  font-family: Barriecito;
  font-size: 3.75rem;
  font-weight: 700;
  margin: 40px auto 0;
}

.u-section-4 .u-list-1 {
  grid-template-rows: auto auto;
  margin-top: 40px;
  margin-bottom: 56px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  min-height: 351px;
  grid-gap: 10px 10px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-4 .u-icon-1 {
  height: 54px;
  width: 54px;
  background-image: none;
  margin: 0 auto;
}

.u-section-4 .u-text-2 {
  font-family: Barriecito;
  font-weight: 700;
  margin: 15px 10px 0 85px;
}

.u-section-4 .u-text-3 {
  line-height: 25.6px;
  font-style: italic;
  margin: 25px 30px 0;
}

.u-section-4 .u-list-icon-1 {
  color: rgb(17, 17, 17) !important;
}

.u-section-4 .u-list-icon-1 {
  color: rgb(17, 17, 17) !important;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-4 .u-icon-2 {
  height: 54px;
  width: 54px;
  background-image: none;
  margin: 0 auto;
}

.u-section-4 .u-text-4 {
  font-family: Barriecito;
  font-weight: 700;
  margin: 15px 10px 0 85px;
}

.u-section-4 .u-text-5 {
  line-height: 25.6px;
  font-size: 1rem;
  font-style: italic;
  margin: 25px 30px 0;
}

.u-section-4 .u-list-icon-3 {
  color: rgb(17, 17, 17) !important;
}

.u-section-4 .u-list-icon-3 {
  color: rgb(17, 17, 17) !important;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-4 .u-icon-3 {
  height: 54px;
  width: 54px;
  background-image: none;
  margin: 0 auto;
}

.u-section-4 .u-text-6 {
  font-family: Barriecito;
  font-weight: 700;
  margin: 15px 10px 0 85px;
}

.u-section-4 .u-text-7 {
  line-height: 25.6px;
  font-size: 1rem;
  font-style: italic;
  margin: 25px 30px 0;
}

.u-section-4 .u-list-icon-5 {
  color: rgb(17, 17, 17) !important;
}

.u-section-4 .u-list-icon-5 {
  color: rgb(17, 17, 17) !important;
}

@media (max-width: 1199px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 289px;
  }

  .u-section-4 .u-icon-1 {
    color: rgb(71, 138, 201) !important;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    min-height: 664px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }
} .u-section-5 {
  background-image: linear-gradient(black, white);
}

.u-section-5 .u-sheet-1 {
  min-height: 434px;
}

.u-section-5 .u-layout-wrap-1 {
  width: 1140px;
  margin: 15px auto -89px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 419px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  text-transform: uppercase;
  font-size: 2.25rem;
  font-weight: 700;
  font-family: Barriecito;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-2 {
  line-height: 1;
  font-style: italic;
  font-size: 1.875rem;
  font-weight: 700;
  font-family: Beatricefont;
  margin: 20px 0 0;
}

.u-section-5 .u-social-icons-1 {
  white-space: nowrap;
  height: 41px;
  min-height: 16px;
  width: 224px;
  min-width: 124px;
  margin: 155px auto 0 0;
}

.u-section-5 .u-icon-1 {
  height: 100%;
}

.u-section-5 .u-icon-2 {
  height: 100%;
}

.u-section-5 .u-icon-3 {
  height: 100%;
}

.u-section-5 .u-icon-4 {
  height: 100%;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 419px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-form-1 {
  margin: 0;
}

.u-section-5 .u-form-group-1 {
  width: 100%;
}

.u-section-5 .u-label-1 {
  font-weight: 700;
}

.u-section-5 .u-form-group-2 {
  width: 100%;
}

.u-section-5 .u-label-2 {
  font-weight: 700;
}

.u-section-5 .u-form-group-3 {
  width: 100%;
}

.u-section-5 .u-label-3 {
  font-weight: 700;
}

.u-section-5 .u-form-group-4 {
  width: 100%;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  width: 100%;
  font-weight: 700;
  font-family: Barriecito;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 360px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 345px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 345px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 115px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 0;
  }

  .u-section-5 .u-social-icons-1 {
    margin-top: 187px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 215px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-5 .u-social-icons-1 {
    margin-top: 155px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-5 .u-social-icons-1 {
    margin-top: 187px;
  }
}@font-face {
  font-family: 'Beatricefont';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Beatricefont.otf);
}